body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212224;
  text-align: center;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

.container, h1 {
  color: aliceblue;
  margin-top: 35px;
}

.gallery {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers images in the column */
  gap: 10px; /* Space between images */
  padding: 20px 0;
}

.gallery img {
  width: 330px; /* Adjust width as needed */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}
